.Fort-wrappernn {
    text-align: center;
    position: relative;
    padding-bottom: 2rem;
}

.image-Fort > img {
    width: 1275px;
    margin-top: 20px;
    animation: slideFromRight 2s forwards; /* Apply animation */
}

@keyframes slideFromRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.data {
    color: #0b3492;
    animation: stat2-move 2s forwards;
}

@keyframes stat2-move {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.ull {
    list-style-type: none;
    margin-top: 2rem;
    padding: 0;
    text-align: center;
    transform: translateX(-2%);
}

.lii {
    font-weight: bold;
    margin-bottom: 10px;
    color: rgb(0, 0, 0);
}

.Fort-title {
    position: absolute;
    top: 30%;
    right: -30%;
    transform: translateY(-50%);
    text-align: center;
    width: 100%;
}

.data-f {
    color: rgb(228, 110, 6);
    transform: translateX(-2%);
}
