.references-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Centre horizontalement les éléments */
}

.reference {
  display: flex;
  justify-content: center; /* Centre l'image horizontalement à l'intérieur de chaque référence */
  align-items: center; /* Centre l'image verticalement à l'intérieur de chaque référence */
  margin-right: 20px;
  margin-bottom: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.reference:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.reference img {
  width: 125px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.reference img:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.REF-warmp{
  text-align: center;
  color: black;
  position: relative;
}

.REF2-warmp{
  text-align: center;
  color: black;
  position: relative;
  overflow-y: hidden;
}

.REF-title{
  padding-top: 1rem;
  padding-bottom: 1rem;
  transform: translateX(-40%);
}

.REF-container{
  display: flex;
  flex-wrap: wrap; /* Permet de passer à la ligne si l'espace est insuffisant */
  justify-content: space-around; /* Pour aligner les valeurs horizontalement */
}

.REFIMG >img{
  width: 1175px;
  height: 475px;
}

.Serv-title h1{
  font-size: 28px;}