.FortC-warmp{
    text-align: center;
    color: black;
    position: relative;
}

.FortC-container{
    display: flex;
    flex-wrap: wrap; /* Permet de passer à la ligne si l'espace est insuffisant */
    justify-content: space-around; /* Pour aligner les valeurs horizontalement */
}
.data {
    color:#0b3492 ;
    animation:stat2-move 2s forwards;
}
.transformation,
.electrogene {
    width: 35rem;
    position: absolute;
}

.transformation {
    margin-left: 2rem;
    left: 0;
}

.electrogene {
    margin-right: 2rem;
    right: 0;
}


.Trans-desc ,
.electrogene-desc{   
    margin-top: 20px;
    font-size: 14px;
    line-height: 1.4;
    position: relative;
    z-index: 1;
    animation:stat2-move 2s forwards; 
    font-weight:bold ;
}

.transformation >img,
.electrogene >img{
    width: 350px;
}

.lambda2 {
    margin-top: 30px;
}
.FortCi >img{
    margin-top: 350px;
    width: 1275px;
    height: 300px;
}
.FaibleCi >img{
    margin-top: 400px;
    width: 1295px;
    height: 300px;
}
.eclimg >img{
    margin-top: 57px;
    width: 350px;
}
.FortCi3 >img{
    margin-top: 20px;
    width: 1395px;
    height: 650px;
}
.tv >img{
    width: 250px;
}