.navbar {
  width: 100%;
  background: white;
  color: #0b3492;
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding: 4px 0;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
  transition: 0.5s;
}

.logo {
  width: 110px;
  cursor: pointer;
}

.highlight {
  background-color: yellow; /* Modifier selon votre préférence */
}

.search-nav-button {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 5px;
}

.search-nav-icon {
  font-size: 20px;
  color: #0b3492;
}

.search-info {
  display: flex;
  align-items: center;
  color: #0b3492;
  font-size: 14px;
}


.navbar ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar ul li {
  display: inline-block;
  list-style: none;
  margin: 5px 20px;
  font-size: 16px;
  transition: transform 0.3s ease, color 0.3s ease;
}

.navbar ul li a {
  color:  #022473;
  text-decoration: none; /* Remove underline */
}

.navbar ul li:hover {
  color: rgb(253, 127, 10);
  transform: scale(1.1);
}

.search-box {
  display: flex;
  align-items: center;
  background: rgb(245, 133, 28);
  padding: 10px 20px;
  border-radius: 50px;
}

.search-box input {
  padding: 1px;
  background: transparent;
  border: 0;
  outline: 0;
  font-size: 18px;
  max-width: 200px;
  color: #fff;
}

.search-box input::placeholder {
  color: #fff;
}

.search-box img {
  width: 20px;
  cursor: pointer;
}

.icon {
  font-size: 16px; /* Smaller icon */
  color: blue;
}

.highlight {
  background-color: orange;
}

.navbar .dropdown-menu {
  display: none; /* Initially hide the submenu */
  position: absolute;
  width: 100%;
  top: 100%; /* Position below the main menu item */
  left: 0;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px 0;
  z-index: 10;
  list-style: none;
}

.navbar .dropdown-menu li:hover {
  background-color: #f5f5f5;
} 

.navbar ul li:hover .dropdown-menu {
  display: block; /* Show the submenu on hover */
}

.dropdown-menu li {
  color:  #022473;
  font-size: 20px;
  text-decoration: none; /* Remove underline */
}

.dropdown-menu li:hover {
  color: rgb(253, 127, 10);
  transform: scale(1.1);
}
